[Unit]
Description=videobridge exporter container
Requires=docker.service prosody.service
After=docker.service prosody.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a jvb-exporter
ExecStop=/usr/bin/docker stop -t 5 jvb-exporter

[Install]
WantedBy=default.target
